body {
    width: 90%;
    /*box-sizing: border-box;*/
    /*text-indent: 2rem;*/
    line-height: 25px;
    margin: 0% 5% 0% 5%;
}

td input {
    top: 70px;
    position: relative;
}

td img {
    top: 30px;
    position: relative;
}

td span {
    top: 70px;
    position: relative;
}

td button {
    top: 63px;
    position: relative;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

#section {
    width: 350px;
    float: left;
    padding: 10px;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}